.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    position: relative;
  }
  
  .quantity {
    position: absolute;
    left: 0;
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .quantity::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/leftHeader.png');
    width: 140px;
    height: 50px;
    opacity: 0.5;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
  
  .username {
    position: absolute;
    right: 0;
    width: 140px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .username::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/rightHeader.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
  }
  
  .header span {
    font-family: 'Rock Salt', cursive;
    font-size: 16px;
    color: #333;
  }
  
  .category {
    width: 230px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
  }
  
  .category::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-image: url('../images/Category.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
  }
  
  .category span {
    font-family: 'Rock Salt', cursive;
    font-size: 33px;
    color: ghostwhite;
  }
  